@import url(./nullstyle.scss);
@font-face {
  font-family: raleway_n;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: raleway_n;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}
.main-header {
  position: relative;
}

.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.layer__header-text {
  text-transform: uppercase;
  z-index: 10;
  font-family: raleway_n, sans-serif;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center center;
}

.layer__base {
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
}

.main-article {
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}