*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--transition: transform 0.75s cubic-bezier(0,.79,.69,.86);
}
@font-face {
	font-family: raleway_n;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_n;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}

body{
	background: #2756ca;;
}
.main-header{
	position: relative;
}
.main-header::after{
	content: '';
	position: absolute;
	z-index: 20;
	width: 100%;
	height: calc(var(--index) * 26);
	background-image: url(../img/porog.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	bottom: calc(var(--index) * -10.1);
}
.layers{
	height: 100vh;
	display: flex;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
   position: relative;
   overflow: hidden;
	z-index: 0;
	transition: var(--transition);
}
.layer__header-text{
	text-transform: uppercase;
	transition: var(--transition);
	z-index: 10;
	font-family: raleway_n, sans-serif;
	transform: translate3d(0, calc(var(--scrollTop)/ 4.5), 0);
	color: #c9e4fc;
	font-weight: 900;
	font-size: calc(var(--index) * 2);
	margin-bottom: calc(var(--index) * 4);
	letter-spacing: calc(var(--index) / 2.25);
	text-shadow: 0 0 10px #257da4;
	will-change: transform;
}
.header-text__name{
	font-size: calc(var(--index) * 0.9);
}
.layer {
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background-position: center center;
}

.layer__base{
	transform: translate3d(0, calc(var(--scrollTop)/1.8), 0);
	will-change: transform;
}

.layer__lvl1{
	transform: translate3d(0, calc(var(--scrollTop)/1.7), 0);
	will-change: transform;
}
.layer__lvl2{
	transform: translate3d(0, calc(var(--scrollTop)/4.9), 0);
	will-change: transform;
	// z-index: 11;
}
.layer__lvl3{
	transform: translate3d(0, calc(var(--scrollTop)/2.9), 0);
	will-change: transform;
}

@function random_range($min, $max) {
	$rand: random();
	$random_range: $min + floor($rand * (($max - $min) + 1));
	@return $random_range;
 }
 
 .snow {
	$total: 200;
	position: absolute;
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 50%;
 
	@for $i from 1 through $total {
	  $random-x: random(1000000) * 0.0001vw;
	  $random-offset: random_range(-100000, 100000) * 0.0001vw;
	  $random-x-end: $random-x + $random-offset;
	  $random-x-end-yoyo: $random-x + ($random-offset / 2);
	  $random-yoyo-time: random_range(30000, 80000) / 100000;
	  $random-yoyo-y: $random-yoyo-time * 100vh;
	  $random-scale: random(10000) * 0.0001;
	  $fall-duration: random_range(10, 30) * 1s;
	  $fall-delay: random(30) * -1s;
 
	  &:nth-child(#{$i}) {
		 opacity: random(10000) * 0.0001;
		 transform: translate($random-x, -10px) scale($random-scale);
		 animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
	  }
 
	  @keyframes fall-#{$i} {
		 #{percentage($random-yoyo-time)} {
			transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
		 }
 
		 to {
			transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
		 }
	  }
	}
 }

.main-article{
	min-height: 100vh;
	position: relative;
	background-image: url(../img/ice-incide.png);
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
// .main-article::after{
// 	content: '';
// 	position: absolute;
// 	z-index: 20;
// 	width: 100%;
// 	height: calc(var(--index) * 17);
// 	background-image: url(../img/nextporog.png);
// 	background-size: cover;
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	bottom: calc(var(--index) * -10);
// }

.content{
	will-change: transform;
}
.text-round{
	color: #c6e4ff;
	text-transform: uppercase;
	font-family: raleway_n, sans-serif;
   font-size: calc(var(--index) * 1.8);
   letter-spacing: calc(var(--index) / 2.5);
	// transform: translate3d(0, calc(var(--scrollTop)/ 40.5), 0);
	font-weight: 600;
	text-align: center;
}


.table-turnir{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.block1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
	  &__path1 {
		  display: flex;
		  flex-direction: row;
		  justify-content: center;
			align-items: center;
			margin-bottom: 20px;
	  }

	  &__path1-allteam {
		  display: flex;
		  flex-direction: column;
		  align-items: center;
	  }

	  &__path1-nextstage {
		  display: flex;
		  flex-direction: column;
		  align-items: center;
	  }
	  &__path1-all{
		  display: flex;
		  flex-direction: column;
	  }
	  &__circle{
			width:calc(var(--index) * 13); 
			height:calc(var(--index) * 13); 
			border-radius: 50%;
			box-shadow:1px 1px 0 #0c6180, 0 0 30px 5px #c0e8ff, inset 2px 2px 0 #d3fbff;
			animation: glow 2s infinite ease
	  }
	  &__path2{
		background: url(../img/trofei.png) center no-repeat;
		  background-position: center center;
		  background-size: cover;
		  height:calc(var(--index) * 13); 
		  width: calc(var(--index) * 13);
		  animation-name: anime;
		  animation-duration: 20s;
		  animation-iteration-count: infinite;
		  animation-timing-function: linera;
	  }
	  
	  &__path3-allteam {
		  display: flex;
		  flex-direction: column;
			align-items: center;
	  }
	  &__path3-nextstage{
		  display: flex;
		  flex-direction: column;
			align-items: center;
	  }
}
.block3__together{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.mar__bot{
	margin-top: calc(var(--index) * 0.8);
}
@keyframes anime{
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

@keyframes glow {
	0%,100% {
		box-shadow: 1px 1px 0 #0c6180, 0 0 30px 5px #c0e8ff, inset 2px 2px 0 #d3fbff;
	}
	50% {
		box-shadow: 1px 1px 0 #0c6180, 0 0 16px 10px #c0e8ff, inset 2px 2px 0 #d3fbff;
	}
}
.path3-allteam{
  display: flex;
}
.path3-nextstage{
  display: flex;
}
.title-stage {
  font-size: calc(var(--index) * 0.75); 
  font-family: raleway_n, sans-serif;
  font-weight: 700;
  color: #FFF;
}

.team {
  width: calc(var(--index) * 6); 
  height: calc(var(--index) * 1.3); 
  background: #d1ffff;
  margin: calc(var(--index) * 0.8) calc(var(--index) * 0.6) 0px calc(var(--index) * 0.8);
  border-radius: 7px;
  font-size:calc(var(--index) * 0.65 ); 
  font-family: raleway_n, sans-serif;
  border: 1px solid #8da6e2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.text-style{
	background: #96aef6;
}

.dungen-text{
	font-size: calc(var(--index) * 1.3);
	font-family: raleway_n, sans-serif;
   color: #c9e4fc;
   font-weight: 600;
 	margin-top: calc(var(--index) * 0.5);
}

.second-article{
	min-height: 100vh;
	position: relative;
	background-image: url(../img/icecastle.png);
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

//Js кнопка ----------------------------------------------------------------
.js__button{
	position: absolute;
   top: 27%;
   left: 33%;
   width: calc(var(--index) * 20);
   height: calc(var(--index) * 17);
   opacity: 0; 
   pointer-events: none;
   transition: 0.5s all;
	display: flex;
	flex-direction: column;
   justify-content: center;
   align-items: center;
	border: 2px solid #35a1b4;
   border-radius: 10px;
}

.js__button.active{
	opacity: 1; 
   pointer-events: all; // Возвращаем события
   transition: 0.5s all;
	background-color: rgb(112 211 255 / 65%);
	z-index: 100;
	padding: calc(var(--index) * 1.3);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.js {
	&__title {
		font-size: calc(var(--index) * 0.9);
		font-weight: 500;
		margin-bottom: calc(var(--index) * 0.6);
		color: #2b439f;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		width: 100%;
		font-family: raleway_n, sans-serif;
	}

	&__title-team {
		margin-bottom: calc(var(--index) * 1.5);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		font-size: calc(var(--index) * 1.4);
		font-family: raleway_n, sans-serif;
		font-weight: 600;
	}

	&__class {
		margin:0 calc(var(--index) * 0.3) calc(var(--index) * 1) 0;
   	width: calc(var(--index) * 7);
    	border-radius: 10px;
    	padding: calc(var(--index) * 0.2);
    	background-color: rgb(255 255 255 / 47%);
		font-size: calc(var(--index) * 0.7);
		font-family: raleway_n, sans-serif;
	}
}

.players {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: calc(var(--index) * 1);
}

.btn-cancel{
	border-radius: 10px;
	background:rgb(168 198 215);
	padding: calc(var(--index) * 0.3);
	cursor: pointer;
	font-size: calc(var(--index) * 0.7);
}
// Вторая стадия и его классы-------------------------------------------
table{
	border-spacing: calc(var(--index) * 2) calc(var(--index) * 1);
	font-family: raleway_n, sans-serif;
	font-size: calc(var(--index) * 1.3);
	font-weight: 500;
	background: #c2e2ff91;
   border-radius: 20px;
}

.table-nameteam{
	padding: calc(var(--index) * 0.5);
	color: #071433;
}
.table-element{
	padding: 10px;
	background: black;
}
.table-imag{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.table-text{
	font-weight: 400;
	color:white;
}



@media screen and (max-width:1050px) {
	.layer__lvl3{
		width: calc(var(--index) / 0.014);
    	left: calc(var(--index) * 0.007);
	}

	.js__button {
    top: 24%;
    left: 35%;
    width: calc(var(--index) * 15);
    height: calc(var(--index) * 24);
	}
}
@media screen and (max-width:780px) {
	.layers{
		align-items: center;
	}
	.block1{
		flex-direction: column;
	}
	.block1__path1-all{
		flex-direction: row;
	}
	.reverse__n{
		flex-direction: row-reverse;
	}
}
@media screen and (max-width:560px) {
	.js__button {
    	left: 34%;
	  	top: 29%;
	  	height: calc(var(--index) * 26);
	}
}